.social-login
    button.social-login__github
        span
            i.fab.fa-github-square
        |login with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook-square
        |login with Facebook