.social-login
    button.social-login__github
        span
            i.fab.fa-github-square
        |깃 허브 로그인하기
    button.social-login__facebook
        span
            i.fab.fa-facebook-square
        |페이스 북 로그인하기