html,
body {
  height: 100%;
}
body {
  background-color: #ffffff;
  font-family: 'Sriracha', cursive;
  font-size: 25px;

}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}


button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-family:'Sriracha', cursive;
  color: $black;
  font-weight: 600;
  max-width: 350px;
  resize: none;
  margin-bottom: 20px;
  &::placeholder {
    font-weight: 300;
    font-size: 25px;
    color: $black;
  }
}
button {
      border:0;
      outline:0;
      background-color: #9ed7fd;
      color: $white;
      text-shadow: -1px 0 $mint, 0 1px $mint, 1px 0 $mint, 0 -1px $mint;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      font-family: 'Sriracha', cursive;
      font-size: 25px;
      width: 100%;
      max-width: 350px;
}
button:hover{
  background-color: rgb(255, 225, 168);
}
button.delete {
  background-color: $dark-red;
  font-family: 'Sriracha', cursive;
  text-shadow: -1px 0 $mint, 0 1px $mint, 1px 0 $mint, 0 -1px $mint;
  width: 100%;
  max-width: 350px;
  border:0;
  outline:0;
}
button.delete:hover{
  background-color: rgb(255, 177, 207);
}

button,
input[type="submit"] {
  cursor: pointer;
}